
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>register form</title>
</head>
<body>
	{% csrf_token%}
	<table>
	<form>
		<tr>
			<td>name:</td> 
			<td><input type="text" placeholder="name"> 
			</td>
		</tr>
		<tr>
			<td>phone:</td> 
			<td><input type="number" placeholder="number">
			 </td>
		</tr>
		<tr>
			<td>email:</td>
			<td><input type="email" placeholder="email">
			</td>
		</tr>
		<tr>
			<td><button type="submit">submit</button></td>
		</tr>
		
			
	
	

	</form>
	</table>
	
		
		
	
</body>
</html>